<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            flex-direction: column;
        }
    </style>
</head>
<body>
<div class="center">
    <a th:href="@{/products}" class="btn btn-primary mb-3">View Products</a>
    <a th:href="@{/stock}" class="btn btn-secondary">View Stock</a>
</div>
</body>
</html>
